@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

:root {
  --primary: #00c0a4;
  --secondary: #df4c3f;
  --darkGrey: #747474;
  --darkerGrey: #484545;
  --lightGrey: #989797;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
