/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .logo {
    width: 65px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo-text {
    padding-left: 12px;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    color: var(--primary);
  }

  .event-details {
    padding: 24px;
  }

  .event-header {
    height: 40vh;
    display: flex;
    flex-direction: row;
  }

  .event-image {
    display: flex;
    align-items: center;
  }

  .event-image img {
    width: 100%;
    height: 90%;
    border-radius: 24px;
  }

  .main-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    border-radius: 20px;
  }
  .user-image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-top: 24px;
    border: 4px solid var(--primary);
  }
  .text {
    padding: 12px;
  }
  .text-title {
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
  }

  .text-content {
    padding-top: 4px;
    padding-left: 10px;
    font-size: 18px;
  }

  .additional-container {
    display: flex;
    flex-direction: row;
    height: 51vh;
    padding: 12px;
  }
  .additional-details {
    overflow: auto;
    border-right: 2px solid var(--lightGrey);
  }

  .details-right {
    display: flex;
    flex-direction: column;
  }

  .schedule {
    overflow: auto;
    height: 80vh;
  }

  .day {
    padding: 15px;
  }

  .day-count {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .day-itinerary {
    border: 2px solid var(--primary);
    border-radius: 24px;
    padding: 12px;
    overflow: auto;
    margin-bottom: 12px;
  }
  .day-title {
    color: var(--primary);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 4px;
  }

  .time-place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    color: var(--lightGrey);
    padding-bottom: 4px;
  }

  .itinerary-description {
    font-size: 18px;
  }

  .admin-approval {
    height: 12vh;
    border-radius: 24px;
    margin: 0px 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 1px 1px 2px lightgray, 0 0 25px lightgray,
      0 0 5px var(--lightGrey);
  }

  .reject-btn {
    background-color: white;
    width: 120px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid var(--primary);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    margin-top: 3%;
  }

  .reject-btn:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
  }

  .reject-btn:active {
    background-color: white;
  }

  .reject-comments {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2.1;
    padding: 14px 28px;
    border-radius: 20px;
    max-width: 900px;
    min-width: 590px;
    text-align: center;
    box-shadow: 3px 3px 10px 10px rgb(216, 210, 210);
    backdrop-filter: blur(15px);
  }

  .rejection-comments-title {
    margin-left: 40px;
  }

  .btn-title-comments {
    display: flex;
    flex-direction: row;
    gap: 150px;
  }

  .backButton {
    margin-top: 12px;
    display: flex;
  }

  .reject-comments h4 {
    color: var(--lightGrey);
  }

  .comments {
    margin-top: 20px;
    border: 1px solid darkgray;
    height: 380px;
    width: 90%;
    font-size: 18px;
    padding-left: 2%;
    padding-top: 2%;
  }

  .comment-reject-btn {
    float: right;
    margin-top: 10px;
    margin-left: 370px;
    background-color: var(--primary);
    width: 120px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  .view-events {
    background-color: #f5f5f5;
    padding: 24px;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
  }

  .view-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
  }

  .event-status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
  }

  .active-status-btn {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px var(--primary);
    border-style: none none solid none;
    background: none;
  }

  .status-btn {
    font-size: 18px;
    font-weight: bold;
    color: var(--lightGrey);
    background: none;
    border: none;
  }

  .logout-btn,
  .approve-btn {
    background-color: var(--primary);
    width: 120px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-style: none;
  }

  .approve-btn {
    margin-top: 3%;
  }

  .logout-btn:hover,
  .comment-reject-btn:hover,
  .approve-btn:hover {
    background-color: #3acfb7;
    cursor: pointer;
  }

  .logout-btn:active,
  .comment-reject-btn:active,
  .approve-btn:active {
    background-color: #32bca5;
  }

  .search {
    margin: 36px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .filter-icon {
    width: 18%;
    display: flex;
    justify-content: center;
  }

  .show-events {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    gap: 12px;
    overflow-y: auto;
    height: 75vh;
    margin-bottom: 18px;
  }

  .event-banner {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 360px;
    border-radius: 24px;
    margin-bottom: 18px;
    background-color: white;
    overflow: auto;
  }

  .active-event-banner {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 360px;
    border-radius: 24px;
    margin-bottom: 18px;
    border: 2px solid var(--primary);
    background-color: white;
    overflow: auto;
  }

  .event-banner-text {
    width: 18vw;
    padding: 12px;
    margin-left: 12px;
  }

  .event-banner-title {
    font-weight: bold;
  }

  .view-event-image {
    display: flex;
    align-items: center;
  }

  .view-event-image img {
    width: 200px;
    height: 100%;
  }

  .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
  }

  .calendar-icon {
    width: 12%;
    display: flex;
  }
  .event-banner-date-text {
    font-size: 16px;
  }

  #details-eventImage {
    height: 500px;
    width: 450px;
  }

  /* For desktop: */
  .col-4 {
    width: 36.8%;
  }
  .col-12 {
    width: 100%;
  }
}
