/* For mobile phones: */
[class*='col-'] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .logo {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo-text {
    padding-left: 12px;
    font-size: 24px;
    color: var(--primary);
  }

  .event-details {
    padding: 24px;
  }

  .event-header {
    height: 40vh;
    display: flex;
    flex-direction: row;
  }

  .event-image {
    display: flex;
    align-items: center;
  }

  .event-image img {
    width: 100%;
    height: 90%;
    border-radius: 24px;
  }

  .main-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
  }

  .text {
    padding: 12px;
  }
  .text-title {
    font-weight: bold;
    font-size: larger;
  }

  .text-content {
    padding-top: 4px;
  }

  .additional-container {
    display: flex;
    flex-direction: row;
    height: 51vh;
    padding: 12px;
  }
  .additional-details {
    overflow: auto;
    border-right: 2px solid var(--lightGrey);
  }

  .details-right {
    display: flex;
    flex-direction: column;
  }

  .schedule {
    overflow: auto;
    height: 80vh;
  }

  .day {
    padding: 12px;
  }

  .day-count {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .day-itinerary {
    border: 2px solid var(--primary);
    border-radius: 24px;
    padding: 12px;
    overflow: auto;
    margin-bottom: 12px;
  }
  .day-title {
    color: var(--primary);
    font-weight: bold;
    padding-bottom: 4px;
  }

  .time-place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: var(--lightGrey);
    padding-bottom: 4px;
  }

  .itinerary-description {
    font-size: 12px;
  }

  .admin-approval {
    height: 12vh;
    border-radius: 24px;
    margin: 0px 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 1px 1px 2px lightgray, 0 0 25px lightgray,
      0 0 5px var(--lightGrey);
  }

  .reject-btn {
    background-color: white;
    width: 120px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid var(--primary);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
  }

  .view-events {
    background-color: lightgrey;
    padding: 48px;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
  }

  .view-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
  }

  .event-status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }

  .active-status-btn {
    font-weight: bold;
    border-bottom: 2px solid var(--primary);
  }

  .inactive-status-btn {
    font-weight: bold;
    color: var(--lightGrey);
  }

  .logout-btn {
    background-color: var(--primary);
    width: 120px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }

  .search {
    margin: 36px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .filter-icon {
    width: 12%;
    display: flex;
    justify-content: center;
  }

  .show-events {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
    overflow: auto;
    height: 72vh;
    border: 2px solid var(--lightGrey);
    border-radius: 24px;
  }

  .event-banner {
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 280px;
    overflow: auto;
    margin: 12px 6px;
  }

  .active-event-banner {
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 280px;
    overflow: auto;
    margin: 12px 6px;
    border: 4px solid var(--primary);
  }

  .event-banner-title {
    font-weight: bold;
  }
  .view-event-image {
    display: flex;
    align-items: center;
  }

  .view-event-image img {
    width: 100%;
    height: 100%;
  }

  .event-banner-text {
    width: 18vw;
    padding: 12px;
  }

  .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
  }

  .calendar-icon {
    width: 18%;
    display: flex;
  }
  .event-banner-date-text {
    font-size: 12px;
  }
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
