* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin-left: 200px;
  background-image: radial-gradient(
    50% 400% at right 150%,
    #e2e2e2 92%,
    transparent 92.25%
  );
  font: Helvetica Neue;
}

p {
  font-size: 22px;
  color: #747474;
  padding-bottom: 55px;
}

img {
  float: right;
  margin-top: 280px;
  margin-right: 150px;
}

input {
  border: solid white;
  border-color: #e4dede;
  border-width: 3px;
}

input:hover {
  border: solid white;
  border-color: #747474;
  border-width: 3px;
}

input,
button {
  padding: 10px;
  height: 50px;
  width: 475px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.welcome {
  font-size: 50px;
  padding-top: 280px;
}

.login {
  background-color: #32bca5;
  font-size: 22px;
  color: white;
  border: none;
  margin-top: 60px;
  box-shadow: 4px 4px #e2e2e2;
}

.login:hover {
    background-color: #3acfb7;
}
